.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}






/* Glitch Button */
.glitch-btn {
  line-height: 1;
  border: none;
  cursor: pointer;
}

/* Glitch layer */
.glitch-btn::after {
  --slice-0: inset(50% 50% 50% 50%);

  --slice-1: inset(80% -1px -1px -1px);
  --slice-2: inset(50% -1px 32% 1px);
  --slice-3: inset(8% -1px 90% -1px);
  --slice-4: inset(35% -1px 40% -1px);
  --slice-5: inset(75% -1px 8% -1px);

  content: attr(data-text);
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;

  background: linear-gradient(45deg,
      transparent 3%,
      #00e6f6 3%,
      #00e6f6 5%,
      #3cb879 5%);

  text-shadow:
    -3px -3px 0px #f8f005,
    3px 3px 0px #00e6f6;

  clip-path: var(--slice-0);
  opacity: 0;
  z-index: 1;
}

/* Hover trigger */
.glitch-btn:hover::after {
  animation: glitch 0.9s steps(2, end);
  opacity: 1;
}

/* Animation */
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-12px, -8px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(12px, 8px);
  }

  20% {
    clip-path: var(--slice-2);
    transform: translate(-8px, 0);
  }

  30% {
    clip-path: var(--slice-5);
    transform: translate(8px, -8px);
  }

  40% {
    clip-path: var(--slice-4);
    transform: translate(-8px, 8px);
  }

  50% {
    clip-path: var(--slice-1);
    transform: translate(8px, 0);
  }

  60% {
    clip-path: var(--slice-3);
    transform: translate(-12px, 8px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(12px, -8px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(-8px, 0);
  }

  90% {
    clip-path: var(--slice-4);
    transform: translate(8px, 8px);
  }

  100% {
    clip-path: var(--slice-0);
    transform: translate(0);
  }
}



.placeholder-animate::placeholder {
  transition: all 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.placeholder-animate:focus::placeholder {
  opacity: 0;
  transform: translateY(-4px);
}

